<!-- Top Header Start -->
<div class="top-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <!-- <img src="/static/img/logo.png" alt="HSNKRS"> -->
                        <h1 class="mb-0">HSNKRS</h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <div class="dropdown">
                        <a href="/user" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a href="user/login" class="dropdown-item">Login</a>
                            <a href="user/register" class="dropdown-item">Register</a>
                            <a href="user" class="dropdown-item">Profile</a>
                        </div>
                    </div>
                    <div class="cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>(0)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->


<!-- Header Start -->
<div class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/product" class="nav-item nav-link">Products</a>
                    <a href="/sneakers" class="nav-item nav-link">Sneakers</a>
                    <a href="/apparel" class="nav-item nav-link">Apparel</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Brand</a>
                        <div class="dropdown-menu">
                            <a href="brand/nike" class="dropdown-item">Nike</a>
                            <a href="brand/adidas" class="dropdown-item">Adidas</a>
                            <a href="brand/new-balance" class="dropdown-item">New Balance</a>
                            <a href="brand/vans" class="dropdown-item">Vans</a>
                            <a href="brand/puma" class="dropdown-item">Puma</a>
                            <a href="brand/air-jordan" class="dropdown-item">Air Jordan</a>
                            <a href="brand/yeezy" class="dropdown-item">Yeezy</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Header End -->