<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Admin Dashboard</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/static/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/static/assets/modules/datatables/datatables.min.css">
  <link rel="stylesheet" href="/static/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/components.css">

</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <!-- Admin panel-->
      <%- include('../partials/admin-panel.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <%- body %>
      </div> 

    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/static/assets/modules/jquery.min.js"></script>
  <script src="/static/assets/modules/popper.js"></script>
  <script src="/static/assets/modules/tooltip.js"></script>
  <script src="/static/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/static/assets/modules/moment.min.js"></script>
  <script src="/static/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/static/assets/modules/jquery.sparkline.min.js"></script>
  <script src="/static/assets/modules/chart.min.js"></script>
  <script src="/static/assets/modules/summernote/summernote-bs4.js"></script>
  <script src="/static/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- JS Libraies -->
  <script src="/static/assets/modules/datatables/datatables.min.js"></script>
  <script src="/static/assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
  <script src="/static/assets/modules/jquery-ui/jquery-ui.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="/static/assets/js/page/index.js"></script>
  <script src="/static/assets/js/page/modules-datatables.js"></script>
  
  <!-- Template JS File -->
  <script src="/static/assets/js/scripts.js"></script>
  <script src="/static/assets/js/custom.js"></script>
</body>
</html>