<%- contentFor('body') %>

<!-- Login Start -->
<div class="login">
    <div class="container">
        <div class="section-header">
            <h3>Login</h3>
        </div>
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="login-form">
                    <div class="row">
                        <div class="col-md-12">
                            <label>E-mail / Username</label>
                            <input class="form-control" type="text" placeholder="">
                        </div>
                        <div class="col-md-12">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->