<%- contentFor('body') %>

  <section class="section">
    <div class="section-header">
      <h1>Product List</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Components</a></div>
        <div class="breadcrumb-item">Product List</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Product List</h2>
      
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Advanced Table</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-2">
                  <thead>
                    <tr>
                      <th class="text-center">
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                          <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                        </div>
                      </th>
                      <th>Name</th>
                      <th>ID</th>
                      <th>Quantity</th>
                      <th>Size</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 Chicago</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>8</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 Dark Mocha</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>8</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 University Blue</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>8</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 UNC</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>9</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 SBB</td>
                      <td>1234</td>
                      <td>1</td>
                      <td>11</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 1 Chicago</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>8</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox custom-control">
                          <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                          <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                      </td>
                      <td>Air Jordan 3 Fire Red</td>
                      <td>1234</td>
                      <td>10</td>
                      <td>10</td>
                      <td><div class="badge badge-success">Availble</div></td>
                      <td><a href="#" class="btn btn-primary">Detail</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>